<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShopManager.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ShopManager.Data.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ShopDatabase;Integrated Security=True;MultipleActiveResultSets=True;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ShopManager.Data.Properties.Settings>
      <setting name="ShopName" serializeAs="String">
        <value>محل</value>
      </setting>
    </ShopManager.Data.Properties.Settings>
  </userSettings>
</configuration>